.import-exam__content {
  width: 100%;
  padding: 30px;
  font-family: Averta_Semibold_600;
}

/* step 3 */
.steps-content__field {
  padding: 0 12px;
  max-width: 640px;
  margin: auto;
}
.steps-content__field .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

/* step 4 */

.frame-questions {
  margin: 0 -30px;
}

.frame-questions > div:nth-child(odd) {
  background: #f5f5f5;
}

.question-item {
  padding: 10px 30px;
}

.question-item__title__option {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.question-item__title__level {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.question-item__title__level span {
  padding-top: 10px;
  margin: 0 3rem -7px 3rem;
  color: #282c36;
  letter-spacing: 0.32px;
  font-family: Helvetica;
  font-weight: 400;
  text-transform: uppercase;
}

.question-item__title__update {
  margin-left: auto;
}

.question-item__title__option__select {
  width: 20%;
}

.btn-question {
  width: 130px;
  height: 30px;
  border-radius: 30px;
  background-color: #89949b;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  cursor: pointer;
}

.btn-question span {
  font-size: 16px;
  letter-spacing: 0.32px;
  font-family: Helvetica;
  font-weight: 400;
}

.btn-question img {
  margin-left: auto;
}

.question-item__title__delete {
  margin-left: 1rem;
}

.question-item__content__description,
.question-item__content__choice-answer label {
  color: #282c36;
  font-size: 18px;
  font-family: 'Lucida Grande';
  font-weight: 400;
}

input[type='checkbox'] {
  margin-right: 0.5em;
  width: 18px;
  height: 18px;
}

.question-item__tags {
  display: flex;
  margin: 1rem 0;
}

.question-item__tags p {
  color: #282c36;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 400;
  margin-right: 2rem;
}

.question-item__tags__item {
  border-radius: 8px;
  border: 1px solid #282c36;
  background-color: #ffffff;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-decoration: underline;
}

.question-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answer-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.answer-image__item {
  display: flex;
}

.answer-image__item img {
  margin-left: auto;
}
.question {
  color: #282c36;
  font-size: 18px;
  font-family: 'Averta_Light_300';
}
.footer-frame {
  border: 0;
  display: flex;
  justify-content: center;
}
.modal-footer>:not(:last-child) {
  margin-right: 60px;
}
.btn-base--popup {
  width: 220px;
  height: 48px;
}
.popup-content__header {
  background-color: #313131;
  justify-content: center;
  color: #ffae00;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: 700;
}
.popup-content__body {
  width: 85%;
  margin: auto;
}
.popup-content__body__option {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.popup-content__body__option__right {
  width: 65%;
}
.popup-content__body__option__right .star {
  height: 100%;
  border-radius: 5px;
  padding: 0px 10px;
}
.star svg {
  cursor: pointer;
}
.question-item-btn-wrap {
  display: flex;
}
.frame-choices {
  width: 70%;
  margin: auto;
}
.editor-wrap {
  padding-top: 20px;
  padding-bottom: 30px;
  overflow: auto;
  margin: auto;
  max-width: 755px;
}
.editor-wrap .wrs_editor {
  min-height: 332px;
}
/* step 5 */

.exam-preview {
  padding-top: 15px;
  padding-bottom: 15px;
}

.exam-area {
  /* height: 366px; */
  border: 1px solid #707070;
}
.exam-area img {
  width: 100%;
  height: 100%;
}
.steps-content__share {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.steps-content__share__select {
  width: 201px;
  margin-left: 30px;
}
/* final step */
.content__frame--margin {
  margin: 0 2rem;
}
.import7-bg {
  padding-top: 2rem;
}

.import7-bg__title {
  background: #d1d1d1;
  margin: unset;
  padding: 0 2rem;
}

.import7-bg__title__empty {
  margin-bottom: -2px;
  background: white;
  height: 4rem;
  box-shadow: unset;
  border-radius: 8px 8px 0 0;
}

.frame-button {
  padding: 2rem 0 6rem 0;
  flex-direction: column;
  align-items: center;
}

.frame-button button {
  color: #282c36;
  letter-spacing: 0.4px;
  font-family: Helvetica;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.frame-button span {
  margin-left: auto;
}

.js-toggle-mobile-expend {
  display: none;
}
@media screen and (max-width: 1200px) {
  .steps-horizon {
    max-width: 654px;
  }
  .steps-item__icon::before {
    width: 40px;
    height: 40px;
  }
  .steps-item__content {
    font-size: 14px;
  }
  .frame-choices {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .question-item-btn-wrap {
    margin-top: 10px;
  }
  .mr-6 {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .steps-item__content {
    font-size: 9px;
  }
  .steps-horizon {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .question-item__title__option__select,
  .popup-content__body__option {
    width: 100%;
  }
  .steps-item__icon::before {
    width: 20px;
    height: 20px;
  }
  .steps-item__icon::after {
    left: 65%;
    top: 23%;
  }
  .steps-item__content {
    font-size: 10px;
  }
  .import-exam__content {
    padding: 20px;
  }
  .steps-horizon {
    padding: 20px 10px;
  }
  .js-toggle-mobile-expend {
    display: block;
  }
  .sidebar--mobile {
    width: 60%;
    transition: width 1.6s;
  }
  .sidebar--expand {
    width: 80%;
  }
  .import7-bg__title {
    padding: 0 0.5rem;
  }
  .question-item__title__level {
    margin-top: 10px;
  }
  .question-item__title__level span,
  .steps-content__share__select {
    margin-left: 0;
  }
  .steps-content__field {
    padding: 0;
  }
}
