@font-face {
  font-family: 'Averta';
  src:url(../fonts/Averta.otf); 
}
@font-face {
  font-family: 'Averta_Black_900';
  src:url(../fonts/Averta_Black.otf); 
}
@font-face {
  font-family: 'Averta_Black_900_Italic';
  src:url(../fonts/Averta_Black_Italic.otf); 
}
@font-face {
  font-family: 'Averta_Bold_700';
  src:url(../fonts/Averta_Bold.otf); 
}
@font-face {
  font-family: 'Averta_Bold_700_Italic';
  src:url(../fonts/Averta_Bold_Italic.otf); 
}
@font-face {
  font-family: 'Averta_Extra_Bold_800';
  src:url(../fonts/Averta_Extra_Bold.otf); 
}
@font-face {
  font-family: 'Averta_Extra_Bold_800_Italic';
  src:url(../fonts/Averta_Extra_Bold_Italic.otf); 
}
@font-face {
  font-family: 'Averta_Extrathin';
  src:url(../fonts/Averta_Extrathin.otf); 
}
@font-face {
  font-family: 'Averta_Extrathin_Italic';
  src:url(../fonts/Averta_Extrathin_Italic.otf); 
}
@font-face {
  font-family: 'Averta_Light_300';
  src:url(../fonts/Averta_Light.otf); 
}
@font-face {
  font-family: 'Averta_Light_300_Italic';
  src:url(../fonts/Averta_Light_Italic.otf); 
}
@font-face {
  font-family: 'Averta_Regular_400_Italic';
  src:url(../fonts/Averta_Regular_Italic.otf); 
}
@font-face {
  font-family: 'Averta_Semibold_600';
  src:url(../fonts/Averta_Semibold.otf); 
}
@font-face {
  font-family: 'Averta_Semibold_600_Italic';
  src:url(../fonts/Averta_Semibold_Italic.otf); 
}
@font-face {
  font-family: 'Averta_Thin_100';
  src:url(../fonts/Averta_Thin.otf); 
}
@font-face {
  font-family: 'Averta_Thin_100_Italic';
  src:url(../fonts/Averta_Thin_Italic.otf); 
}