*,
body,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Averta_Light_300;
  font-size: 18px;
}
.border-gray {
  border: 1px solid #707070;
}
.text-highlight {
  color: #282c36;
  font-size: 16px;
  font-family: 'Averta';
  text-decoration: underline;
}
.btn-base {
  font-size: 20px;
  font-family: Averta_Semibold_600;
  color: #282c36;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #ffae00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 290px;
  height: 60px;
}
.mr-6 {
  margin-right: 60px;
}
.btn-base--previous {
  margin-right: 60px;
  text-transform: uppercase;
}
.btn-next {
  text-transform: uppercase;
}

.select-box-base,
.input-base {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #282c36;
  background-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  text-indent: 2%;
  color: #282c36;
  width: 337px;
}
.input-base--mb {
  margin-top: 0;
  margin-bottom: 12px;
}
.select-box-base:focus {
  border-color: #80bdff;
  outline-color: white;
  border-radius: 8px 8px 0 0;
}
.custom-select {
  background: url(../images/ic_unfold_more_24px.png) no-repeat right 0.75rem
    center/8px 10px;
}
.error-msg {
  display: flex;
  justify-content: center;
  color: red;
  margin-top: 10px;
}
.pd-x-6 {
  padding: 0 30px;
}

.js-display--block {
  display: block;
}

.js-display--none {
  display: none;
}

.js-file-name {
  color: #282c36;
}

.js-input-error {
  border-color: red;
  color: red;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 100%;
}

#content {
  width: 100%;
}

.sidebar {
  min-width: 70px;
  box-shadow: 5px 0 6px rgba(0, 0, 0, 0.16);
  background-color: #282c36;
}

.sidebar.active {
  min-width: 18%;
  text-align: center;
}

.sidebar__header {
  height: 90px;
  background-color: #1e2129;
}

.sidebar .sidebar__header .sidebar__header__logo,
.sidebar__avatar p,
.sidebar__list-unstyled div span {
  display: none;
}

.sidebar.active .sidebar__header .sidebar__header__iclogo {
  display: none;
}

.sidebar.active .sidebar__header .sidebar__header__logo {
  display: flex;
}

.sidebar.active .sidebar__avatar p,
.sidebar.active .sidebar__list-unstyled div span {
  display: block;
  margin: 0;
  text-align: start;
}

.sidebar__header__logo,
.sidebar__header__iclogo {
  height: 100%;
  display: flex;
}

.sidebar__header__logo img,
.sidebar__header__iclogo img {
  margin: auto;
}

.sidebar__avatar {
  height: 180px;
  background-color: #1e2129;
  display: flex;
  box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, 0.3);
}

.sidebar__avatar__frame {
  margin: auto;
  margin-top: 40%;
}

.sidebar.active .sidebar__avatar__frame {
  margin: auto;
}

.sidebar__avatar__name {
  font-weight: bold;
  color: white;
}

.sidebar__avatar__rule {
  color: white;
  text-align: center !important;
}

.list-item li {
  height: 56px;
  display: flex;
  position: relative;
}

.list-item li a {
  margin: auto;
}

.list-item div {
  margin: auto;
}

.sidebar.active .list-item a {
  margin-left: 0;
}
.active .list-item li {
  padding-right: 10px;
}

.sidebar.active .sidebar__list-unstyled__item {
  margin-left: 24px;
  display: flex;
}

.sidebar__list-unstyled__item span {
  padding-left: 20px;
  color: #89949b;
}

.sidebar__list-unstyled svg {
  fill: #89949b;
  margin-top: -5px;
}
.custom-svg {
  width: 20px;
  height: 20px;
}
.custom-svg svg {
  width: 100%;
  height: 100%;
}

/* hover list*/

.sidebar__list-unstyled .arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #f5f5f5;
  position: absolute;
  top: 35%;
  left: 0;
  display: none;
}

.sidebar.active li:hover .arrow {
  right: 0;
  transform: rotate(180deg);
}

.list-item li:hover {
  background-color: #1e2129;
}

.list-item li:hover span {
  color: white;
}

.list-item li:hover .arrow {
  display: block;
}

.list-item li:hover svg {
  fill: white;
}

ul li ul {
  display: none;
}

.list-item li:hover ul {
  display: block;
}

.list-item__dropdown {
  display: none;
  z-index: 5;
}
.list-item__dropdown li {
  padding: 0 10px;
}
.list-item li:hover .list-item__dropdown {
  display: block;
  width: 250px;
  background: white;
  position: absolute;
  left: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.list-item__dropdown li:hover {
  background: #63a7fb;
}

.list-item__dropdown li:hover strong {
  color: white;
}

.list-item__dropdown li a {
  margin: auto 10px;
  width: 100%;
  display: flex;
}

.list-item__dropdown strong {
  color: #89949b;
  font-weight: unset;
  padding-left: 5px;
  text-align: start;
}

.list-item__dropdown svg.check {
  visibility: hidden;
  margin: auto 0;
}

.list-item__dropdown li:hover .check {
  visibility: visible;
  fill: white;
}

.list-item__dropdown .search {
  margin: auto;
  margin-right: 0;
}

/* style header */

.header {
  background-color: #f9f9f9;
  display: flex;
  width: 100%;
  box-shadow: inset 8px 0px 5px -5px rgba(0, 0, 0, 0.3);
}

.header__school-name {
  margin-left: 7%;
  display: flex;
  align-items: center;
}
.header__school-name h1 {
  color: #1e2129;
  font-family: Averta_Bold_700;
  font-size: 24px;
}

.header__notification a {
  margin: auto;
}

.header__notification {
  margin-left: auto;
  display: flex;
  margin-right: 20px;
  position: relative;
}

.header__notification__number {
  position: absolute;
  right: -35%;
  top: 28%;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #eb2d2d;
}

.header__info {
  background-color: #282c36;
  padding: 30px 20px;
}

/* end style header */

.content__frame {
  background: #f5f5f5;
  padding: 15px 20px 0;
  box-shadow: inset 0px 1.5px 4px 0px rgba(0, 0, 0, 0.3);
}

.content__frame__title {
  border-radius: 8px 8px 0 0;
  background-color: #282c36;
}

.content__frame__title__one {
  color: white;
  padding: 37px 0;
  margin: 0;
  font-size: 22px;
  font-family: Averta_Semibold_600;
  text-transform: uppercase;
}

.content__frame__title__two {
  background: white;
  padding: 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px 8px 0 0;
}
.content__frame__title__two h3 {
  color: #282c36;
  font-size: 20px;
  font-family: Averta_Semibold_600;
}

.content__frame__content {
  background: white;
}
/* step wrap box */

.steps-horizon {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  background-color: #f6f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1030px;
  margin: auto;
}

.steps-item {
  width: 100%;
  position: relative;
}

.steps-item__icon::before {
  width: 60px;
  height: 60px;
  border: 2px solid #89949b;
  background-color: #ffffff;
  border-radius: 50%;
  margin: auto;
  display: block;
  content: '';
}

.steps-item--compeleted .steps-item__icon::before {
  background-color: #ffae00;
  border: none;
}
.steps-item__icon::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  border: 2px solid #89949b;
  left: 64%;
  top: 33%;
  content: '';
}
.steps-item--compeleted .steps-item__content {
  color: #282c36;
}
.steps-item--compeleted .steps-item__icon::after {
  border: 2px solid #ffae00;
}

.steps-item--last .steps-item__icon::after {
  content: none;
}

.steps-item__content {
  color: #7f7f7f;
  font-size: 20px;
  text-align: center;
}

/* step 1 */

.steps-content {
  display: none;
}

.steps-content__title {
  color: #0054a3;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: bold;
}

.steps-content__detail {
  border-radius: 30px;
  border: 2px dashed #707070;
  background-color: #f6f6f7;
  margin: 15px auto;
  padding: 20px;
  max-width: 610px;
}

.steps-content__img {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.steps-content__detail__description {
  text-align: center;
  color: #282c36;
  font-family: 'Averta_Semibold_600';
  font-size: 20px;
}

.text--small {
  font-size: 14px;
  margin-bottom: 0;
}

.steps-content__download {
  color: #282c36;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.steps-content__action {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.steps-content__action span {
  margin-left: 15%;
}

.steps-content--active {
  display: block;
}

/* Step 2 */

.steps-content__select {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select-box--font {
  font-family: 'Averta_Bold_700';
}

/* end style content */

@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .sidebar--mobile {
    display: none;
    width: 70%;
    transition: width 1.5s;
    position: absolute;
    z-index: 5;
    height: 100%;
  }
  .sidebar {
    overflow-y: auto;
  }
  .sidebar--expand {
    width: 80%;
    position: fixed;
    top: 0;
  }
  .content__frame {
    padding: 10px;
    margin-top: 90px;
  }
  .pd-x-6 {
    padding: 0 10px;
  }
  .content__frame__title__one {
    padding: 5px 0;
  }
  .content__frame__title__two {
    padding: 5px;
  }
  .header__info,
  .header__notification {
    display: none;
  }
  .list-item,
  .list-item__dropdown {
    position: unset;
  }
  .list-item li {
    position: unset;
    height: unset;
    min-height: 56px;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .list-item li:hover .list-item__dropdown {
    position: unset;
    width: 100%;
    border-radius: 0;
  }
  .list-item__dropdown li {
    border-bottom: 0.5px solid #cccccc80;
  }
  .list-item__dropdown li a {
    padding: 0 10px;
    margin: unset;
  }
  .sidebar.active li:hover .arrow {
    display: none;
  }
  .btn-base--previous {
    margin-right: 0;
  }
  .select-box-base,
  .input-base,
  .btn-base {
    max-width: 100%;
  }
}
