.steps-item__icon::after {
  left: 62%;
}
.select_number {
  width: 76px;
}
.steps-content-exam-infor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.steps-content__field__select-question {
  margin-right: 58px;
  width: 440px;
}
.input-base--search {
  width: 440px;
}
.field-search {
  display: flex;
  align-items: center;
  position: relative;
}
.btn-search {
  position: absolute;
  right: 25px;
}
.select-box-base--exam-infor {
  width: 234px;
  margin-right: 66px;
}
.select-box-base--exam-infor:last-child {
  margin-right: 0;
}
.star-inactive {
  fill: white;
}
.star-active {
  fill: #89949b;
}
.tabs-bar {
  display: flex;
  justify-content: space-between;
  padding: 54px 34px 0;
}
.tabs-bar__item {
  cursor: pointer;
  color: #89949b;
  padding-bottom: 35px;
  border-bottom: 2px solid #f6f6f7;
}
.tabs-bar__item:hover {
  color: #282c36;
}
.tabs-bar__item__title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
}
.tabs-bar__item--active {
  color: #282c36;
  border-bottom: 6px solid #282c36;
}
.tabs-bar__item--active .star-active {
  fill: #282c36;
}
.tabs-bar__item .star svg {
  width: 16px;
  height: 15px;
}
.questions {
  padding: 40px 42px 20px 0;
  overflow-y: scroll;
  height: 700px;
}
.questions__item {
  margin-bottom: 20px;
}
.questions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #c5c5c5;
}
.questions::-webkit-scrollbar {
  width: 11px;
  border-radius: 30px;
  background-color: #c5c5c5;
}
.questions::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 11px;
  height: 82px;
  background-color: #282c36;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.exam-view {
  width: 1150px;
  height: 850px;
  border-radius: 8px;
  border: 1px solid #292d37;
  background-color: #ffffff;
}

@media screen and (max-width: 1895px) {
  .steps-content__field__select-question {
    width: 27%;
  }
  .steps-content__field__view-exam {
    width: 60%;
  }
  .select-box-base--exam-infor {
    width: 19%;
  }
  .exam-view,
  .input-base--search {
    width: 100%;
  }
}
@media screen and (max-width: 1730px) {
  .steps-content__field__select-question {
    width: 27%;
  }
  .steps-content__field__view-exam {
    width: 60%;
  }
  .select-box-base--exam-infor {
    width: 21%;
    margin-right: 35px;
  }
  .exam-view,
  .input-base--search {
    width: 100%;
  }
}
